[submodule "External/magic_enum"]
	path = External/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "External/imgui"]
	path = External/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "External/glm"]
	path = External/glm
	url = https://github.com/g-truc/glm.git
[submodule "External/stb"]
	path = External/stb
	url = https://github.com/nothings/stb.git
[submodule "External/IconFontCppHeaders"]
	path = External/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders.git
[submodule "External/ImGuiColorTextEdit"]
	path = External/ImGuiColorTextEdit
	url = https://github.com/BalazsJako/ImGuiColorTextEdit.git
[submodule "External/implot"]
	path = External/implot
	url = https://github.com/epezent/implot.git
[submodule "External/predef"]
	path = External/predef
	url = https://github.com/boostorg/predef.git
[submodule "External/json"]
	path = External/json
	url = https://github.com/boostorg/json.git
