[submodule "Libraries/magic_enum"]
	path = Libraries/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "Libraries/imgui"]
	path = Libraries/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "Libraries/Vulkan-Headers"]
	path = Libraries/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "Libraries/glm"]
	path = Libraries/glm
	url = https://github.com/g-truc/glm.git
[submodule "Libraries/stb"]
	path = Libraries/stb
	url = https://github.com/nothings/stb.git
[submodule "Libraries/IconFontCppHeaders"]
	path = Libraries/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders.git
[submodule "Libraries/ImGuiColorTextEdit"]
	path = Libraries/ImGuiColorTextEdit
	url = https://github.com/BalazsJako/ImGuiColorTextEdit.git
[submodule "Libraries/implot"]
	path = Libraries/implot
	url = https://github.com/epezent/implot.git
[submodule "Libraries/predef"]
	path = Libraries/predef
	url = https://github.com/boostorg/predef.git
